.THIS {
    font-family: arial, sans-serif;
}

.THIS h1 {
    font-size: 1.7em;
    padding-bottom: 10px;
    font-weight: lighter;
    margin-bottom: 15px;
    line-height: normal;
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
   font-family: sans-serif;
    vertical-align: baseline;
}

.THIS h2 {
    font-size: 1.5em;
    font-weight: lighter;
    color: #666;
    font-family: sans-serif;
}

.THIS h4 {
    font-size: 1em;
    font-weight: bold;
    font-family: sans-serif;
}

.THIS p {
    color: #555;
    line-height: 125%;
    margin-bottom: 15px;
    font-family: sans-serif;
}
.THIS a {
    color: #1f83ad;
    text-decoration : underline;
    font-family: sans-serif;
}

.THIS ul {
    list-style-position: inside;
    margin-bottom: 20px;
}

.THIS ul.list {
    list-style: disc;
    margin-left:20px;
}

.THIS strong, .THIS b {
    font-weight: bold;
    font-family: sans-serif;
}


/* Breadcrumbs 
---------------------------------------------------- */

.THIS ul.breadcrumb {
    padding-bottom: 10px;
    list-style: none;
    text-transform: uppercase;
    font-weight:normal;
    font-size:85%;
}

.THIS ul.breadcrumb li {
    display: inline;
    color:#999;
}

.THIS ul.breadcrumb li+li:before {
    padding: 10px;
    color: black;
    content: "\f0da";
    font-family: FontAwesome;
    color:#ccc;
}

.THIS ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

.THIS .breadcrumb a {
    text-decoration: none;
}

/* profile table 
---------------------------------------------------- */

.THIS table.profile {
    margin-top:20px;
}

.THIS table.profile th {
    text-align: left;
    font-weight: normal;
    width:25%;
    border-bottom:1px solid #ddd;
    padding:10px 0;
    vertical-align:top;
}

.THIS table.profile td {
    padding:5px 20px;
    padding:5px 20px;
    font-weight:bold;
    border-bottom:1px solid #ddd;
}

/* Buttons 
---------------------------------------------------- */

.THIS .button {
    padding: 10px 15px;
    border: 1px solid #ddd;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    color: #444;
    font-size: 85%;
}

.THIS .button:hover {
    background: #f3f3f3;
    border: 1px solid #f3f3f3;
}

.THIS .button-blue {
    background:#1f83ad;
    color:#fff;
    border: transparent;
}

.THIS .button-blue:hover {
    background:#146587;
    border: transparent;
}

.THIS .group {
    zoom: 1;
}

/* Forms 
---------------------------------------------------- */

.THIS label {
    font-weight: bold;
    color: #444;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    _overflow: hidden;
    margin: 10px 0 3px 0;
}

.THIS select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    font-size: 1em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff 99% / 15% no-repeat;
    background-size: 25px 25px;
    outline: none;
   
}
.THIS input[type=text] {
    box-sizing: border-box;
    border: 1px solid #ccc;
    background-color: white;
    padding: 10px 20px 10px 40px;
    outline: none;
}

.THIS textarea,.THIS input[type="text"],.THIS input[type="button"],.THIS input[type="tel"],.THIS input[type="password"],.THIS input[type="email"],.THIS input[type="search"] {
    width: 100%;
    color: #444;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 8px;
    font-size: 1em;
    line-height : 10px;
}

/* Boilerplate 
---------------------------------------------------- */

.THIS .white-bg {
    background:#fff;
    font-family: sans-serif;
}

.THIS .pad-inside {
    padding:20px;
}

.THIS .notes {
    font-weight: normal;
    font-size: 90%;
    font-style: italic;
}

.THIS .callout {
    background: #f3f3f3;
    padding:20px;
    font-family: sans-serif;
}

.THIS .callout .side-callout {
    background: rgba(31, 131, 173, 0.1);
    text-align:center;
    padding:15px;
    margin-top:20px;
    border:1px solid #1f83ad;
}

.THIS .callout .side-callout p {
    margin:0;
    padding:0;
    color:#1f83ad;
}

.THIS .pad-bottom {
    margin-bottom:20px;
}

.THIS .font-85 {
    font-size:85%;
}

.THIS .center {
    text-align:center;
}

.THIS .pad-top {
    margin-top: 20px;
}

.THIS .pad-right {
    margin-right: 20px;
}

/***********
 * mulit select list ***********/
.THIS .ms-options-wrap,.THIS .ms-options-wrap * {
    box-sizing: border-box;
}

.THIS .ms-options-wrap > button:focus,.THIS .ms-options-wrap > button {
    position: relative;
    width: 100%;
    text-align: left;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 7px 20px 8px 5px;
    margin-top: 0px;
    font-size: 13px;
    color: #666;
    outline: none;
    white-space: nowrap;
}

.THIS .ms-options-wrap > button[disabled] {
    background-color: #e5e9ed;
    color: #808080;
    opacity: 0.6;
}

/* arrow */
.THIS .ms-options-wrap > button:after {
    content: ' ';
    height: 0;
    position: absolute;
    top: 50%;
    right: 5px;
    width: 0;
    border: 6px solid rgba(0, 0, 0, 0);
    border-top-color: #999;
    margin-top: -3px;
}

/* drop down box */
.THIS .ms-options-wrap > .ms-options {
    position: absolute;
    left: 0;
    width: 100%;
    margin-top: -1px;
    margin-bottom: 20px;
    background: white;
    z-index: 2000;
    border: 1px solid #ccc;
    overflow: auto;
    visibility: hidden;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.THIS .ms-options-wrap > .ms-options.ms-active {
    visibility: visible
}

.THIS .ms-options-wrap > .ms-options > .ms-search input {
    width: 100%;
    padding: 4px 5px;
    border: none;
    border-bottom: 1px groove;
    outline: none;
}

.THIS .ms-options-wrap > .ms-options .ms-selectall {
    display: inline-block;
    font-size: .9em;
    text-decoration: none;
}
.THIS .ms-options-wrap > .ms-options .ms-selectall:hover {
    text-decoration: underline;
}

.THIS .ms-options-wrap > .ms-options > .ms-selectall.global {
    margin: 4px 5px;
}

.THIS .ms-options-wrap > .ms-options > ul,
.THIS .ms-options-wrap > .ms-options > ul > li.optgroup ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.THIS .ms-options-wrap > .ms-options > ul li.ms-hidden {
    display: none;
}

.THIS .ms-options-wrap > .ms-options > ul li {
    padding:0;
    margin:0;
}

.THIS .ms-options-wrap > .ms-options > ul > li.optgroup {
    padding: 5px;
}
.THIS .ms-options-wrap > .ms-options > ul > li.optgroup + li.optgroup {
    border-top: 1px solid #aaa;
}

.THIS .ms-options-wrap > .ms-options > ul > li.optgroup .label {
    display: block;
    padding: 5px 0 0 0;
    font-weight: bold;
}

.THIS .ms-options-wrap > .ms-options > ul label {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 4px;
    margin: 1px 0;
    border: 1px dotted transparent;
}

.THIS .ms-options-wrap > .ms-options > ul label.focused,
.THIS .ms-options-wrap > .ms-options > ul label:hover {
    background-color: #efefef;
    border-color: #999;
}

.THIS .ms-options-wrap > .ms-options > ul li.selected label {
    background-color: #efefef;
    border-color: transparent;
}

.THIS .ms-options-wrap > .ms-options > ul input[type="checkbox"] {
    margin: 0 5px 0 0;
    position: absolute;
    left: 4px;
    top: 7px;
}

.THIS .ms-options-wrap > .ms-options.hide-checkbox > ul input[type="checkbox"] {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}